.container {
    // Divide two divs in half
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    width: 100vw;
    color: white;
    // Set min font size, but allow it to grow
    font-size: clamp(10px, 2.5vw, 20px);
    // font-size: calc(10px + 2vmin);
    padding: auto;
}

.editorSection {
    display: flex;
    gap: 1em;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputSection {
    height: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.previewSection {
    background-color: #fff;
    color: black;
    border-radius: 3px;
}

.previewContainer {
    background-color: #fff;
    height: 200mm;
}

.previewContainerContainer {
    overflow-y: scroll;
    padding: 2em;
}
