.keys {
    display: flex;
    flex-direction: row;
}

.plus {
    padding: 0 0.2em;
    font-size: 1.6em;
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
